/* debug */
/* div { 
    border-color: red;
    border-style: dotted;
    border-width: 1px;
} */

.navbar {
    background-color: aliceblue;
}

.plot {
    overflow: auto;
}

footer {
    background-color: aliceblue;
}