<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    {{ bokeh_resources | safe }}
    <title>Shrine.ooo</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light mb-3">
      <div class="container">
        <a class="navbar-brand" href="#">Shrine.ooo</a>
      </div>
   </nav>

   <div class="container">
      <div class="row">
         <div class="col-sm-6">
            <h1>Welcome to Shrine.ooo!</h1>
            name = {{name}}
            <p>This is some text</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
         <div class="col-sm-6">
            <img class="img-fluid" src="{{ url_for('static', filename='img/shrine.ooo.render.640x640.png') }}">
         </div>
      </div>
      <div class="row">
         <div class="col">
            <h2>Here is a basic plot</h2>
            <div class="plot" id="myplot"></div>
         </div>
         <div class="col">
            <h2>Here is another plot</h2>
            <div class="plot" id="myplot2"></div>
         </div>
         <div class="col">
            <img class="img-fluid" src="{{ url_for('static', filename='img/temp-image-bootstrap.svg') }}" >
         </div>
      </div>

   </div>

   <footer>
      <div class="container p-5 mt-3">
      </div>
   </footer>

   <script>
      (async() => {
         const response = await fetch('/plot')
         const item = await response.json()
         Bokeh.embed.embed_item(item, "myplot")
      })();
   </script>

   <script>
      (async() => {
         const response = await fetch('/plot2')
         const item = await response.json()
         Bokeh.embed.embed_item(item, "myplot2")
      })();
   </script>
   
   
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
